
/* upload bouton*/
input[type=file] {
  display: none;
}

/*telecharger bouton*/
button {
	border: none;
	background-color: white;
}


button:hover {
	cursor: pointer;
}

/*bouton pour acceder aux dossiers*/
input[type=submit]:hover{
	cursor: pointer;
}

/*Bouton 'Dossier avant'*/
input[name="btn_back"] {
  display: none;

}

/*hover pur des boutons log-out, charger, modifier et supprimer*/
span[class="ion-power"]:hover,
label[class="ion-android-upload"]:hover,
span[class="ion-edit"]:hover,
span[class="ion-trash-b"]:hover,
span[class="ion-plus-circled"]:hover,
label[class="ion-android-arrow-back"]:hover {
	cursor: pointer;
}

header {
	text-align: center;
}

header > img {
	width: 120px;
	height: 100px;
}

#log_out {
  float: right!important;
}

#nav-menu {
  height: 50px;
  -webkit-box-shadow: 0px 1px 1px 1px #EEEEEE;
          box-shadow: 0px 1px 1px 1px #EEEEEE;
  width: 100%;
  background-color: #212121;
  overflow: hidden;
}
#nav-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#nav-menu ul span,
#nav-menu ul label {
  color: white;
  font-size: 18px;
  float: left;
  display: block;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}


footer {
	height: 40px;
	text-align: center;
	border-top: 1px solid #ccc;
	margin-top: 50px;
	padding-top: 10px;
}