

.wrap{
	width: 90%;
	max-width: 500px;
	margin: 20px auto;
}

form {
	width: 100%;
	text-align: center;
	
	margin-top: 15px 0;
	padding: 15px;
	overflow: hidden;
	box-shadow: 0 0 3px grey;
	border-top:5px solid #212121;

}


.input-group {
	margin-top: 15px;
	margin-bottom: 15px;
}

.log {
	width: 100%;
	padding: 0;
	margin: 0 auto;
	color: #FF9800;
	display: none;
}

.btn {
	background-color: #212121;
	color: white;
	font-size: 25px!important;
}