/*Styles in common*/

/* Login icons */
.input.ion-person,
.input.ion-locked,
.input.ion-network, {
	font-size: 30px!important;
}

/* log-out button */
.ion-power {
	font-size: 30px!important;
}

/* file, folder and other icons */
.ion-folder,
.ion-document,
.ion-edit,
.ion-trash-b,
.ion-android-upload,
.ion-android-download,
.ion-android-arrow-back,
.ion-plus-circled {
	font-size: 30px!important;
}
